body {
    background-color: grey;
    margin: 0px;
}

.navbar{
    background-color: whitesmoke;
    padding: 15px;
    text-align: right;
}

.nav-link {
    padding: .5rem;
    color: whitesmoke;
    background-color: purple;
    border-radius: 50px;
}

.box {
   background-color: white;
    width: 300px;
    border: 5% solid green;
    padding: 30px 25px;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    margin-top: 10%;
}
.button {
    background-color: lightblue;
}
p{
    text-align: center;
    
}
