body {
    background-color: grey;
    margin: 0px;
}

.navbar{
    background-color: whitesmoke;
    padding: 15px;
    text-align: right;
}

.nav-link {
    padding: .5rem;
    color: whitesmoke;
    background-color: purple;
    border-radius: 50px;
}